*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.header {
    padding: 1rem 0;
    padding-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(220, 212, 212);
}
.header .header-again {
    display: flex;
    gap: 33.5rem;
}
.header .header-again h1{
    font-size: 2.5rem;
    color: #ff9e00;
}
.header .header-again .navbar{
    margin-top: .9rem;
}
.header .header-again .navbar a{
    text-decoration: none;
    margin-left: 3rem;
    font-size: 1.2rem;
    color: #692d08;
}
.background {
    background:rgba(18,18,26,1);
    background-image:url('http://artlantis-media.ru/static/img/0000/0002/7260/27260842.qvpm616fga.png');
}
.background .box-container{
    display: flex;
    padding-left: 5%;
}
.background .box-container .box{
    width: 50%;
    padding-top: 11rem;
}
.background .box-container .box h1{
    width: 33rem;   
    font-size: 3rem;
    font-weight:300;
    letter-spacing:0.07em;
    text-shadow:0px 5px 10px rgba(0,0,0,1);
    color: #fff;
    margin-bottom: 1.5rem;
}
.background .box-container .box p{
    width: 28rem;
    color: #fff;
    margin-bottom: 3rem;
    letter-spacing:0.09em;
}
.background .box-container .box .heading{
    color: orange;
    letter-spacing: .2rem;
}
.background .box-container .box .btn{
    text-decoration: none;
    padding: .8rem 1.3rem;
    background-image: linear-gradient(120deg, #ff9e00 35%, #ff6200 100%);
    color: #fff;
    border-radius: 3rem;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.background .box-container .images{
    width: 50%;
    padding-top: 3rem;
}
.background .box-container .images img{
    width: 95%;
}
.about{
    max-height: 100vh;
    background: url(images/7.png);
}
.about .about-box{
    display: flex;
    padding-left: 5%;
}
.about .about-box .box-content{
    width: 50%;
    padding-top: 8rem;
}
.about .about-box .box-content h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    color: #666;
}
.about .about-box .box-content p{
    width: 26rem;
    line-height: 1.5rem;
    color: rgb(65, 63, 63);
    margin-bottom: 3rem;
}
.about .about-box .box-content .btn{
    text-decoration: none;
    padding: .9rem 2rem;
    background-image: linear-gradient(120deg, #ff9e00 35%, #ff6200 100%);
    color: #fff;
    border-radius: 3rem;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.about .about-box .images{
    width: 50%;
    object-fit: cover;
    margin-left: 10rem;
    margin-top: 3rem;
}
.about .about-box .images img{
    width: 50%;
}
.recipe h1{
    text-align: center;
    margin-top: 3.5rem;
    font-size: 2.2rem;
    color: #666;
    font-weight: 900;
    margin-bottom: 1rem;
}
.recipe .my-recipe .para{
    text-align: center;
    line-height: 1.7rem;
    font-size: 1rem;
    width: 40rem;
    margin-left: 22rem;
    font-weight: 500;
    color: rgb(40, 39, 39);
}
.recipe .my-recipe .yummy-lover{
    display: flex;
    gap: 1.5rem;
    padding: 3.8rem;
}
.recipe .my-recipe .yummy-lover .images{
    width: 50%;
    box-shadow: 0 0 50px #ccc;
    padding: 2rem ;
    border-radius: 2rem;
}
.recipe .my-recipe .yummy-lover .images img{
    height: 17rem;
    width: 34rem;
}
.recipe .my-recipe .yummy-lover .images h2{
    margin-top: 1.3rem;
    color: #000;
    font-weight: 900;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
/* counter style */
.counter .box-counter{
    display: flex;
    padding: 5rem;
    gap: 5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 5rem;
    border-radius: 8rem;
    margin-bottom: 3.5rem;
}
.counter .box-counter .box-counter1{
    padding-left: 9%;
}
.counter .box-counter .box-counter1 h2{
    font-size: 3rem;
    margin-bottom: .5rem;
}
footer{
    padding: 4rem;
    background:rgba(18,18,26,1);
}
footer span{
    color: #ff6200;
    letter-spacing: .2rem;
}
footer h2{
    text-align: center;
    margin-bottom: 5rem;
    color: #666;
    font-weight: 900;
}
footer p{
    text-align: center;
    color: #ccc ;
}